
/hw/
# This stops Git from tracking CCS, VS Code, and Theia settings
.vscode/
.theia/
.clangd
*/.clangd
**/Debug/
**/targetConfigs/
**/.launches/
**/Release/
*.out
*.map
*.obj
*.o
*.d
*.txt
*.hex
**/.settings/
.settings/
.launches/
.localHistory/
.metadata/
.DS_Store
Thumbs.db
config.theia-workspace